In [2]:
import os, glob
import csv
import pandas as pd

### Dataset 불러오기

order_data: 소비자의 주문 내역, 한 유저당 이 사이트에서 구입한 order의 개수 (Order의 상세 내용은 order_products에 존재) <br>
prior_data: 한 Order_id에 들어있는 Product들의 데이터 <br>
Product_data: 한 Product에 대해서 Department와 Aisle에 대한 정보 <br>
Aisle_data: Aisle 번호에 대한 이름 <br>

In [6]:
order_data = pd.read_csv("dataset/orders.csv", encoding='UTF8')
prior_data = pd.read_csv("dataset/order_products__prior.csv", encoding='UTF8')
product_data = pd.read_csv("dataset/products.csv", encoding='UTF8')
aisle_data = pd.read_csv("dataset/aisles.csv", encoding='UTF8')

In [11]:
df1 = pd.merge(prior_data,product_data,on='product_id')
df1.head(5)
df1 = pd.merge(df1,order_data,on='order_id')
df_final = pd.merge(df1,aisle_data, on='aisle_id')
df_final = df_final.sort_values(by=['user_id','order_id'])

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,aisle
7867018,431534,13176,8,1,Bag of Organic Bananas,24,4,1,prior,5,4,15,28.0,fresh fruits
7867019,431534,41787,7,0,Bartlett Pears,24,4,1,prior,5,4,15,28.0,fresh fruits
7867020,431534,17122,6,0,Honeycrisp Apples,24,4,1,prior,5,4,15,28.0,fresh fruits
7867021,431534,10326,5,0,Organic Fuji Apples,24,4,1,prior,5,4,15,28.0,fresh fruits
11978725,431534,25133,4,1,Organic String Cheese,21,16,1,prior,5,4,15,28.0,packaged cheese

In [18]:
df_final = df_final.loc[:,["order_id","user_id","product_id","aisle_id"]]
for i in range(134):
    print(i+1,":",len(df_final[df_final["aisle_id"] == i+1]))
# df_final.to_csv("dataset/data_final.csv", index=False)

1 : 71928
2 : 82491
3 : 456386
4 : 200687
5 : 62510
6 : 36291
7 : 33865
8 : 34871
9 : 218387
10 : 9172
11 : 26061
12 : 36727
13 : 99032
14 : 129474
15 : 20931
16 : 377741
17 : 326692
18 : 17368
19 : 245466
20 : 63749
21 : 979763
22 : 32013
23 : 163524
24 : 3642188
25 : 64059
26 : 207075
27 : 48657
28 : 35181
29 : 66926
30 : 74947
31 : 575881
32 : 276028
33 : 11798
34 : 71742
35 : 129514
36 : 254317
37 : 498425
38 : 390299
39 : 29642
40 : 34303
41 : 63421
42 : 99369
43 : 113015
44 : 8974
45 : 300567
46 : 22664
47 : 45059
48 : 71860
49 : 118437
50 : 175757
51 : 108691
52 : 232763
53 : 318002
54 : 242996
55 : 10344
56 : 24605
57 : 101959
58 : 40208
59 : 270314
60 : 32081
61 : 234065
62 : 30558
63 : 144189
64 : 103615
65 : 36599
66 : 166607
67 : 355685
68 : 17205
69 : 346464
70 : 26873
71 : 37691
72 : 222049
73 : 12169
74 : 94927
75 : 94354
76 : 15901
77 : 357537
78 : 458838
79 : 162218
80 : 14815
81 : 297037
82 : 8160
83 : 3418021
84 : 891015
85 : 65946
86 : 452134
87 : 17514
88 : 289400
89 : 99331
90 : 21214
91 : 638253
92 : 382456
93 : 250770
94 : 249341
95 : 67046
96 : 395130
97 : 23692
98 : 333933
99 : 87197
100 : 69145
101 : 19851
102 : 8581
103 : 11202
104 : 212092
105 : 106089
106 : 305655
107 : 722470
108 : 308007
109 : 10164
110 : 112639
111 : 43348
112 : 584834
113 : 4853
114 : 118477
115 : 841533
116 : 522654
117 : 306487
118 : 10872
119 : 19319
120 : 1452343
121 : 377586
122 : 70887
123 : 1765313
124 : 28102
125 : 35590
126 : 19753
127 : 40768
128 : 193297
129 : 194582
130 : 158164
131 : 266637
132 : 6168
133 : 18683
134 : 11198